ul, ol { 
	list-style-type: none;
}
a:link { 
	color: #515151;
	text-decoration:none;
}

.hd { 
	position: absolute; 
	left: 0; 
	top: 0; 
	z-index: 1; 
	background: rgba(0,0,0,0.8); 
	color: white; 
	width: 100%; 
	height: 60px; 
}

.ml-logo { 
	float: left; 
	width: 190px; 
	height: 40px; 
	margin: 13px 0; 
	font-size: 26px;
}

.center-wrap {
	position: relative;
	z-index: 1; 
	width: 1040px; 
	height: 100%; 
	margin: 0 auto;
}
.center-wrap nav{
	float:left; 
}

.center-wrap nav .myMenu li {
	float: left;
}
.center-wrap nav .myMenu li:active a{
	background: #868e63; color: #000;
}
.center-wrap nav .myMenu li a {
	display: block;  padding: 0 20px; line-height: 60px; cursor:pointer; color: #ffffff;
}
.center-wrap nav .myMenu li a:hover {
	background: #868e63; color: #000;  
}
.center-wrap .buy-now {
	position: absolute; 
	right: 0; top: 10px; 
	width: 100px; height: 36px; 
	line-height: 36px; 
	text-align: center; 
	background-color: #3db1fa;
}
.center-wrap .buy-now:hover {
	color: #fff;
}
